@{
    ViewBag.Title = "立即注册!";
}
<div class="login-logo">
    <i class="icon-bag"></i>爱逛
</div>
@using (Html.BeginForm())
{
    <div class="loginbox">
        <div class="pass-info"><input type="text" id="UserID" name="UserID" placeholder="用户名" /></div>
        <div class="pass-info"><input type="password" id="Password" name="Password" placeholder="密码" /></div>
        <div class="pass-info"><input type="password" id="Password1" placeholder="确认密码" /></div>
        <div class="btnbox">
            <input class="btn" id="sub" type="button" value="注册" />
            
        </div>
        <div style="margin-top:30px;text-align:left"><a href="/market/login" style="color:#888;cursor:pointer"><<已有账号？</a></div>
    </div>
}
<script>
    var userid = document.getElementById("UserID");
    var pass = document.getElementById("Password");
    var pass1 = document.getElementById("Password1");
    pass1.onblur = function () {
        if (this.value != pass.value) {
            this.className = "error";
        }
        else this.className = "";
    };
    userid.onblur = function () {
        if (this.value == "") {
            this.className = "error";
        }
        else this.className = "";
    };
    document.getElementById("sub").onclick = function () {
        if (userid.value == "") {
            userid.focus(); return 0;
        }
        if (pass1.value != pass.value) {
            pass1.className = "error";
            pass1.focus(); return 0;
        }
        $.ajax({
            url: "/market/Register",
            type: "POST",
            dataType: "json",
            data: "UserID=" + userid.value + '&Password=' + pass.value,
            success: function (data) {
                if (data) {
                    var url = getQueryString("returnurl");
                    if (url == null)
                        window.location.href = "/market/center";
                    else window.location.href = url;
                }else{
                    alert("用户名已存在");
                    userid.focus();
                }
            },
            timeout: 10000,
            error: function (data) {
                alert("请求超时")
            }

        })
    }
    //获取参数
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null)
            return unescape(r[2]);
        return null;
    }
</script>